body{
    background-image: url("../images/shelf-image.svg");
    background-size: 50vw 70vh;
    background-position: 100% 30%;
    background-repeat: no-repeat;
}

.container{
    margin-right: 100px;
    margin-top: 50px;
    width: 60%;
}

.container .signup-form{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.signup-form input{
    margin: auto;
    margin-bottom: 20px;
    width: 50%;
    background: none;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    outline: none;
    padding: 5px;
    transition: 0.25s;
}

.signup-form input:focus{
    font-size: 18px;
    border-bottom: 2px solid #5cdb95;
    color: #05386b;
}

.signup-form input[type="submit"]{
    width: 50%;
    background-color: #5cdb95;
    cursor: pointer;
    padding: 10px;
    border-radius: 25px;
    transition: 0.3s;
}

.signup-form input[type="submit"]:hover{
    font-size: 13px;
    opacity: 0.7;
}

.signup-form label, h1{
    margin-bottom: 10px;
    margin-left: 200px;
    color: #5cdb95;
    font-weight: 800;
}

.signup-form p{
    margin: auto;
    margin-bottom: 20px;
}


/*************************
**     MOBILE STYLES
**************************/


@media screen and (max-width: 1024px){

    body{
        overflow-x: hidden;
        background-size: 400px auto;
    }

    .signup-form label, h1{
        margin-left: 130px;
    }

    .signup-form input{
        width: 350px;
        margin-left: 130px;
    }
}

@media screen and (max-width: 800px){
    body{
        background-image: none;
    }
}

@media screen and (max-width: 600px){
    body{
        overflow-x: hidden;
    }
    .signup-form{
        margin: auto;
    }

    .signup-form h1{
        margin-left: 35vw;
        margin-bottom: 30px;
    }

    .signup-form label{
        margin-left: 20vw;
    }

    .signup-form input{
        width: 250px;
        margin-left: 20vw;
    }
    
    .signup-form input:focus{
        width: 250px;
        font-size: 18px;
    }

    .signup-form input[type="submit"]{
        margin-left: 35vw;
    }
}